@charset "UTF-8";
/* A Modern CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background: transparent;
  font: inherit;
  outline: none;
}

textarea {
  resize: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400;
}

body {
  color: #534e52;
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  a {
    transition: 0.3s ease-in-out;
  }
  a:hover {
    opacity: 0.7;
  }
}

header {
  height: 4.375rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  header {
    height: 6.25rem;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.header__logo {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: 0;
  }
}

.header__logo-rose {
  margin-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .header__logo-rose {
    width: 5.1875rem;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-company {
    width: 10.375rem;
    height: 2.3125rem;
  }
}

.header__logo .header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__hamburger {
  position: relative;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__right {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .header__right {
    display: block !important;
    position: static;
  }
}

@media screen and (min-width: 768px) {
  .header__tel {
    z-index: 20;
    margin-right: calc(50% - 50vw);
    width: 8rem;
    top: 0;
    right: 0;
    height: 6.25rem;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .header__tel img {
    width: 100%;
    height: 100%;
  }
}

.header-nav {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #df8686;
}
@media screen and (min-width: 768px) {
  .header-nav {
    width: 100%;
    height: inherit;
    overflow-y: initial;
    background-color: initial;
  }
}

.header-nav__items {
  padding-left: 1rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 11.625rem;
  min-height: 23.4375rem;
}
@media screen and (min-width: 768px) {
  .header-nav__items {
    width: inherit;
    padding-left: 21.5625rem;
    padding-top: 1rem;
    min-height: initial;
    flex-direction: row;
    justify-content: initial;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-nav__list {
    text-align: center;
  }
}

.hamburger-nav__list a {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #FFFFFF;
  display: block;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hamburger-nav__list a {
    display: flex;
    align-items: center;
    color: #a17856;
  }
}

.hamburger-nav__list:nth-of-type(2) {
  padding-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .hamburger-nav__list:nth-of-type(2) {
    padding-top: initial;
    padding-right: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-nav__list:nth-of-type(3) {
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-nav__list:nth-of-type(4) {
    padding-right: 0.5rem;
  }
}

.hamburger-nav__list:nth-child(5) {
  padding-top: -0.625rem;
}
@media screen and (min-width: 768px) {
  .hamburger-nav__list:nth-child(5) {
    padding-top: initial;
    padding-right: 0.9375rem;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-nav__list a:hover {
    cursor: pointer;
    color: #df8686;
  }
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.hamburger {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  background: #df8686;
  cursor: pointer;
  width: 4.375rem;
  height: 4.375rem;
  margin-right: calc(50% - 50vw);
}

/*ボタン内側*/
.hamburger span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 1.375rem;
  height: 0.1875rem;
  background: #FFFFFF;
  width: 1.6875rem;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-of-type(1) {
  top: 2.0625rem;
}

.hamburger span:nth-of-type(1)::before {
  content: "menu";
  /*1つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top: -1.5625rem;
  left: -0.5rem;
  color: #FFFFFF;
  font-size: 0.875rem;
}

.hamburger span:nth-of-type(2) {
  top: 2.75rem;
}

.hamburger span:nth-of-type(3) {
  top: 3.4375rem;
}

/*openクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.hamburger.open {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  background: #FFFFFF;
  cursor: pointer;
  width: 4.375rem;
  height: 4.375rem;
  margin-right: calc(50% - 50vw);
}

.hamburger.open span {
  background: #df8686;
}

.hamburger.open span:nth-of-type(1) {
  top: 2.5625rem;
  left: 1rem;
  transform: translateY(6px) rotate(-45deg);
  width: 55%;
}

.hamburger.open span:nth-of-type(1)::before {
  content: "close";
  /*1つ目の要素のafterにClose表示を指定*/
  transform: translateY(0) rotate(45deg);
  top: -1.875rem;
  left: 1.25rem;
  color: #df8686;
  font-size: 0.875rem;
}

.hamburger.open span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.open span:nth-of-type(3) {
  top: 3.375rem;
  left: 1rem;
  transform: translateY(-6px) rotate(45deg);
  width: 55%;
}

.news-card {
  background-color: #FFFFFF;
}

.news-card__img {
  position: relative;
  width: 100%;
}

.news-card__img::before {
  content: "";
  display: block;
  padding-top: 57.14%;
}

.news-card__img img {
  border-top-left-radius: 2.5rem;
  width: 100%;
  height: 96%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .news-card__img img {
    border-top-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    height: 97%;
  }
}

.news-card__postdate {
  margin-top: 0.75rem;
  padding-top: 0.0625rem;
  padding-bottom: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5625rem;
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #FFFFFF;
  background-color: #a17856;
  min-width: 4.875rem;
  display: inline-block;
  border: 0.0625rem solid #a17856;
  text-align: center;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .news-card__postdate {
    margin-top: 1.25rem;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    min-width: 5.625rem;
  }
}

.news-card__text {
  margin-top: 1.125rem;
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .news-card__text {
    font-size: 1rem;
    line-height: 1.4375;
    margin-top: 0.625rem;
  }
}

.news-items {
  margin-top: 1.125rem;
  max-width: 18.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .news-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.78125rem;
    max-width: initial;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .news-items__item {
    max-width: calc(33.333% - 1.6666666667rem);
    width: 100%;
  }
}

.news-items__item + .news-items__item {
  margin-left: 0;
  margin-top: 1.75rem;
}
@media screen and (min-width: 768px) {
  .news-items__item + .news-items__item {
    margin-left: 2.5rem;
  }
}

.news-items__item:nth-of-type(3n+1) {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .news-items__item:nth-of-type(n+1) {
    margin-top: initial;
  }
}

@media screen and (min-width: 768px) {
  .news-items__item:nth-of-type(n+4) {
    margin-top: 2.5rem;
  }
}

.aboutrose-card {
  background-color: #FFFFFF;
}

.aboutrose-card__img {
  position: relative;
  width: 100%;
}

.aboutrose-card__img {
  min-width: 9.375rem;
  min-height: 9.375rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 768px) {
  .aboutrose-card__img {
    width: 18.75rem;
    height: 18.75rem;
    aspect-ratio: 1/1;
  }
}

.aboutrose-card__img img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .aboutrose-card__img img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.aboutrose-card__content {
  margin-top: 1.4375rem;
  max-width: 23.4375rem;
}
@media screen and (min-width: 768px) {
  .aboutrose-card__content {
    margin-top: 2.8125rem;
    max-width: 18.75rem;
  }
}

.aboutrose-card__subtitle {
  color: #a17856;
  font-family: "YuMincho", serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .aboutrose-card__subtitle {
    font-size: 2.25rem;
    line-height: 0.0989583333rem;
  }
}

.aboutrose-card__text {
  margin-top: 1.375rem;
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5714285714;
}
@media screen and (min-width: 768px) {
  .aboutrose-card__text {
    margin-top: 2.75rem;
    font-size: 1rem;
    line-height: 1.625;
  }
}

.aboutrose-items {
  position: static;
  padding-top: 2.8125rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .aboutrose-items {
    padding-top: 44.375rem;
    max-width: initial;
  }
}

.aboutrose-items__item {
  max-width: calc(50% - 1.8125rem);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .aboutrose-items__item {
    max-width: calc(33.333% - 7.5833333333rem);
    width: 100%;
  }
}

.aboutrose-items__item + .aboutrose-items__item {
  margin-left: 3.625rem;
}
@media screen and (min-width: 768px) {
  .aboutrose-items__item + .aboutrose-items__item {
    margin-left: 11.375rem;
  }
}

.aboutrose-items__item:nth-of-type(2n+1) {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .aboutrose-items__item:nth-of-type(2n+1) {
    margin-top: 11.375rem;
  }
}

@media screen and (min-width: 768px) {
  .aboutrose-items__item:nth-of-type(n+1) {
    margin-top: initial;
  }
}

.aboutrose-items__item:nth-of-type(n+3) {
  margin-top: 2.375rem;
}
@media screen and (min-width: 768px) {
  .aboutrose-items__item:nth-of-type(n+3) {
    margin-top: initial;
    margin-left: 11.375rem;
  }
}

@media screen and (min-width: 768px) {
  .aboutrose-items__item:nth-of-type(n+4) {
    margin-top: 11.375rem;
    margin-left: 0;
  }
}

.roseshop-card__img {
  position: relative;
  width: 100%;
}

.roseshop-card__img::before {
  content: "";
  display: block;
  padding-top: 57.14%;
}

.roseshop-card__img img {
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .roseshop-card__img img {
    height: 95%;
  }
}

.roseshop-card__subtitle {
  display: flex;
}

.roseshop-card__subtitle-name {
  margin-top: 0.625rem;
  font-family: "YuMincho", serif;
  font-size: 1.5rem;
  line-height: 1.625;
  color: #a17856;
}
@media screen and (min-width: 768px) {
  .roseshop-card__subtitle-name {
    margin-top: 1.25rem;
  }
}

.roseshop-card__subtitle-name-roseycafe {
  padding-left: 0.3125rem;
}

.roseshop-card__subtitle-kana {
  margin-top: 1.375rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.0714285714;
  font-family: "YuMincho", serif;
  color: #a17856;
}
@media screen and (min-width: 768px) {
  .roseshop-card__subtitle-kana {
    margin-top: 1.75rem;
    padding-left: 0.75rem;
  }
}

.roseshop-card__text {
  margin-top: 0.625rem;
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  font-weight: 500;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  .roseshop-card__text {
    margin-top: 0.5rem;
    max-width: 24.375rem;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: normal;
  }
}

.roseshop-items {
  margin-top: 1.625rem;
  max-width: 18.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .roseshop-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.0625rem;
    max-width: initial;
  }
}

@media screen and (min-width: 768px) {
  .roseshop-items__item {
    max-width: calc(33.333% - 1.6666666667rem);
    width: 100%;
  }
}

.roseshop-items__item + .roseshop-items__item {
  margin-left: 0;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .roseshop-items__item + .roseshop-items__item {
    margin-left: 2.5rem;
  }
}

.roseshop-items__item:nth-of-type(3n+1) {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .roseshop-items__item:nth-of-type(n+1) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .roseshop-items__item:nth-of-type(n+4) {
    margin-top: 2.5rem;
  }
}

/*cafemenutabの形状*/
.cafemenu-tab {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .cafemenu-tab {
    margin-top: 2.5rem;
  }
}

.cafemenu-tab li {
  display: table;
  background: #FFFFFF;
  width: 33.3333333333%;
  text-align: center;
  transition: all 0.3s ease ease-in-out;
}

/*========= レイアウトのためのCSS ===============*/
.cafemenu-tab {
  list-style: none;
}

.cafemenu-tab li {
  list-style: none;
}

.cafemenu-tab li a.selected {
  background-color: #df8686;
}

.cafemenu-tab a {
  display: block;
  padding-top: 1.5625rem;
  padding-bottom: 1.25rem;
  color: #a17856;
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  text-transform: uppercase;
  border: 0.0625rem solid #df8686;
}
@media screen and (min-width: 768px) {
  .cafemenu-tab a {
    padding-top: 0.9375rem;
    font-size: 2.25rem;
    line-height: 1.1944444444;
  }
}

.cafemenu-tab a span {
  letter-spacing: -0.5rem;
}

.cafemenu-tab li a:hover {
  opacity: 0.7s;
}

/*エリアの表示非表示と形状*/
.cafemenu-area .drinkmenu {
  padding-top: 4.75rem;
  padding-bottom: 2.5625rem;
  background-color: #df8686;
}
@media screen and (min-width: 768px) {
  .cafemenu-area .drinkmenu {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
}

.cafemenu-area .foodmenu,
.cafemenu-area .dessertmenu {
  padding-top: 4.75rem;
  padding-bottom: 2.5625rem;
  background-color: #df8686;
}
@media screen and (min-width: 768px) {
  .cafemenu-area .foodmenu,
  .cafemenu-area .dessertmenu {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
}

/*========= レイアウトのためのCSS ===============*/
.drinkmenu .cafemenu-area__kind {
  position: relative;
  display: inline-block;
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 1.75rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: -0.0625rem;
  margin-left: 0.75rem;
}
@media screen and (min-width: 768px) {
  .drinkmenu .cafemenu-area__kind {
    margin-left: 2.625rem;
    font-size: 2.25rem;
    line-height: 1.3333333333;
  }
}

.foodmenu .cafemenu-area__kind,
.dessertmenu .cafemenu-area__kind {
  position: relative;
  display: inline-block;
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 1.75rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: -0.0625rem;
  margin-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .foodmenu .cafemenu-area__kind,
  .dessertmenu .cafemenu-area__kind {
    margin-left: 2.625rem;
    font-size: 2.25rem;
    line-height: 1.3333333333;
  }
}

.drinkmenu .cafemenu-area__details {
  margin-top: 1.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .drinkmenu .cafemenu-area__details {
    margin-top: 4.4375rem;
    padding-left: 3.125rem;
  }
}

.foodmenu .cafemenu-area__details,
.dessertmenu .cafemenu-area__details {
  margin-top: 2.8125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .foodmenu .cafemenu-area__details,
  .dessertmenu .cafemenu-area__details {
    margin-top: 4.4375rem;
    padding-left: 3.125rem;
  }
}

.cafemenu-area__kind::before {
  content: "";
  position: absolute;
  left: 52%;
  bottom: -0.3125rem; /*線の上下位置*/
  display: inline-block;
  width: 13.4375rem;
  height: 0.3125rem;
  transform: translateX(-50%); /*位置調整*/
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .cafemenu-area__kind::before {
    width: 16.875rem;
    height: 0.625rem;
    left: 48%;
    bottom: -0.625rem;
  }
}

.cafemenu-area__details li {
  font-family: "YuMincho", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.1428571429;
  border-bottom: 0.0625rem solid #FFFFFF;
  padding-top: 1.09375rem;
  padding-bottom: 1.09375rem;
}
@media screen and (min-width: 768px) {
  .cafemenu-area__details li {
    font-size: 2.25rem;
    line-height: 1.3333333333;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.contact-form {
  background-color: #F4F4F4;
  padding-top: 1.25rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .contact-form {
    background-color: initial;
    padding-top: 3.125rem;
    padding-left: 15rem;
    padding-right: 23.75rem;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-form__item {
    display: flex;
  }
}

.contact-form__item p {
  color: #502323;
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .contact-form__item p {
    font-size: 1.125rem;
    line-height: 1.3333333333;
    padding-top: 0.9375rem;
  }
}

.contact-form__inputtext {
  margin-top: 0.3125rem;
  margin-bottom: 1.5625rem;
  border: 0.0625rem solid #707070;
  background-color: #FFFFFF;
  max-width: 46.6875rem;
  height: 1.875rem;
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
  width: 100%;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-form__inputtext {
    max-width: 31.25rem;
    margin-bottom: 1.875rem;
    height: 2.5rem;
  }
}

.contact-form__textarea {
  margin-top: 0.375rem;
  border: 0.0625rem solid #707070;
  background-color: #FFFFFF;
  max-width: 46.25rem;
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
  height: 5rem;
  width: 100%;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-form__textarea {
    max-width: 31.25rem;
    height: 10.625rem;
  }
}

.contact-form__btn-wrapper {
  margin-top: 2.125rem;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact-form__btn-wrapper {
    padding-left: 8.75rem;
    margin-top: 5.125rem;
  }
}

.footer__head {
  margin-top: -1.375rem;
  position: relative;
}

.footer__head-back {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer__head-back {
    height: 29.375rem;
  }
}

.footer__head-back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__logo {
  position: absolute;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
  }
}

.footer__logo-rose {
  margin-top: -7.5rem;
  margin-left: 0.625rem;
  width: 3.125rem;
  min-height: 3.125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-rose {
    width: 5rem;
    min-height: 5rem;
    margin-top: -43.75rem;
    margin-left: 5rem;
  }
}

.footer__logo-rose img {
  width: 100%;
  height: 100%;
}

.footer__logo-company {
  margin-top: -3.625rem;
  margin-left: 0.625rem;
  width: 6.25rem;
  height: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-company {
    width: 10.75rem;
    height: 4.0625rem;
    margin-top: -21.625rem;
    margin-left: 0.625rem;
  }
}

.footer__address {
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .footer__address {
    position: absolute;
    margin-top: -18.4375rem;
  }
}

.footer__address p {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  font-weight: 500;
  color: #a17856;
}
@media screen and (min-width: 768px) {
  .footer__address p {
    font-size: 1rem;
    line-height: 1.3125;
  }
}

@media screen and (min-width: 768px) {
  .footer__address p br {
    display: none;
  }
}

.footer__address p:nth-child(2) {
  margin-top: 0.5rem;
}

.footer__address p:nth-child(3) {
  margin-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .footer__address p:nth-child(3) {
    margin-top: 0.4375rem;
  }
}

.footer__address-num {
  padding-left: 1.125rem;
}

@media screen and (min-width: 768px) {
  .footer__address-details {
    padding-left: 0.75rem;
  }
}

.footer__address-tel {
  padding-left: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .footer__address-tel {
    padding-left: 1.6875rem;
  }
}

.footer__address-mail {
  padding-left: 0.9375rem;
}

.footer__info {
  margin-top: 4.875rem;
  padding-bottom: 2.1875rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row-reverse;
    margin-top: initial;
    padding-bottom: initial;
    position: absolute;
  }
}

.footer__info-homepages {
  margin-right: 3.125rem;
}
@media screen and (min-width: 768px) {
  .footer__info-homepages {
    display: flex;
    margin-right: initial;
    margin-left: 36.875rem;
    margin-top: -2.5rem;
  }
}

.footer__info-homepages a {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.7857142857;
  font-weight: 500;
  color: #a17856;
}
@media screen and (min-width: 768px) {
  .footer__info-homepages a {
    font-size: 1rem;
    line-height: 1.3125;
  }
}

@media screen and (min-width: 768px) {
  .footer__info-homepages a:nth-child(2) {
    margin-left: 1.0625rem;
  }
}

.footer__info-homepages a::before {
  content: "▶";
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  font-weight: 500;
  color: #a17856;
  padding-right: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .footer__info-homepages a::before {
    font-size: 1rem;
    line-height: 1.3125;
  }
}

@media screen and (min-width: 768px) {
  .footer__info-sns {
    display: flex;
  }
}

.footer__info-sns p {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  font-weight: 500;
  color: #a17856;
  margin-top: -1.0625rem;
}
@media screen and (min-width: 768px) {
  .footer__info-sns p {
    font-size: 1rem;
    line-height: 1.3125;
    margin-top: -2.625rem;
  }
}

.footer__info-sns-image {
  width: 5rem;
  height: 3.125rem;
}
@media screen and (min-width: 768px) {
  .footer__info-sns-image {
    width: 5.625rem;
    height: 1.5625rem;
    margin-top: -2.9375rem;
    margin-left: 0.9375rem;
  }
}

.footer__bottom {
  width: 100%;
  height: 2.375rem;
  background-color: #df8686;
  padding-top: 0.5625rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding-left: initial;
    padding-right: initial;
    text-align: center;
  }
}

.footer__bottom small {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__bottom small {
    font-size: 1rem;
    line-height: 1.3125;
  }
}

.inner {
  width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1440px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.btn-wrapper {
  text-align: center;
  align-items: center;
}

.btn {
  max-width: 12.625rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "YuMincho", serif;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #f6f1e8;
  text-decoration: none;
  background-color: #df8686;
  padding: 0.8125rem;
  border: 0.0625rem solid #707070;
  border-radius: 0.625rem;
}

.title {
  text-align: center;
}

.title-main {
  display: inline-block;
  font-family: "Cinzel", serif;
  color: #a17856;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  font-weight: 400;
  border-bottom: 0.3rem solid #df8686;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .title-main {
    font-size: 2.25rem;
    line-height: 1.3333333333;
    border-bottom: 0.5rem solid #df8686;
  }
}

.title-sub {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3571428571;
  color: #534e52;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title-sub {
    font-size: 1rem;
    line-height: 1.3125;
  }
}

.test {
  font-size: 1rem;
  color: red;
}
@media screen and (min-width: 768px) {
  .test {
    font-size: 3.125rem;
    color: green;
  }
}

.mv__wrapper {
  position: relative;
  height: calc(100vh - 19.6875rem);
}
@media screen and (min-width: 768px) {
  .mv__wrapper {
    height: min(100vh - 4.0625rem);
  }
}

.mv__top-image {
  width: 100%;
  height: 100%;
  min-height: 19.6875rem;
}
@media screen and (min-width: 768px) {
  .mv__top-image {
    min-height: 37.5rem;
  }
}

.mv__top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mv__logo {
  position: absolute;
  top: 39%;
  left: 43%;
}
@media screen and (min-width: 768px) {
  .mv__logo {
    position: absolute;
    top: 27%;
    left: 41%;
  }
}

.mv__logo-rose {
  width: 3.125rem;
  min-height: 3.125rem;
}
@media screen and (min-width: 768px) {
  .mv__logo-rose {
    width: 15.625rem;
    min-height: 15.625rem;
  }
}

.mv__logo-rose img {
  width: 100%;
  height: 100%;
}

.mv__logo-company {
  margin-left: -0.625rem;
  margin-top: 0.625rem;
  color: #FFFFFF;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .mv__logo-company {
    margin-left: 1.875rem;
    margin-top: 0.3125rem;
    color: #FFFFFF;
    font-size: 2.25rem;
    line-height: 1.3333333333;
  }
}

.mv__logo-sub {
  margin-left: -5.75rem;
  margin-top: 0.5rem;
  color: #FFFFFF;
  font-family: "YuMincho", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .mv__logo-sub {
    margin-left: -8.75rem;
    margin-top: 0.9375rem;
    color: #FFFFFF;
    font-size: 2.25rem;
    line-height: 1.3333333333;
  }
}

.news {
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 10.9375rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.news__theme {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .news__theme {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .news__theme-pic-left {
    width: 36%;
    margin: 0 auto 0 0;
    aspect-ratio: 464/32.52;
  }
}

@media screen and (min-width: 768px) {
  .news____theme-pic-left img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .news__theme-pic-right {
    width: 36%;
    margin: 0 0 0 auto;
    aspect-ratio: 464/32.52;
  }
}

@media screen and (min-width: 768px) {
  .news__theme-pic-right img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .news__theme-title {
    margin-top: -1.5625rem;
    display: inline-block;
    text-align: center;
    align-items: center;
  }
}

.news__wrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: auto;
  width: 100%;
}

.aboutrose {
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .aboutrose {
    padding-top: 9.375rem;
  }
}

.aboutrose__head {
  position: relative;
  width: 100%;
}

.aboutrose__head-right {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 768px) {
  .aboutrose__head-right {
    height: 39.375rem;
  }
}

.aboutrose__head-right img {
  width: 100%;
  height: 100%;
}

.aboutrose__head-left {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transform: rotate(180deg);
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .aboutrose__head-left {
    height: 39.375rem;
  }
}

.aboutrose__head-left img {
  width: 100%;
  height: 100%;
}

.aboutrose__theme {
  position: absolute;
  top: -45%;
  left: 53%;
  transform: translate(-53%, 45%);
}
@media screen and (min-width: 768px) {
  .aboutrose__theme {
    position: absolute;
    top: -92%;
    left: 50%;
    transform: translate(-50%, 92%);
  }
}

.aboutrose__wrapper {
  margin: 0 auto;
  position: relative;
}

.aboutrose__introduction {
  position: static;
  padding-top: 7.5rem;
  padding-left: 1.1125rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .aboutrose__introduction {
    padding-top: initial;
    padding-left: initial;
    padding-right: initial;
    position: absolute;
    top: 20.5%;
    left: 50%;
    transform: translate(-50%, -20.5%);
  }
}

.aboutrose__introduction p {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6428571429;
}
@media screen and (min-width: 768px) {
  .aboutrose__introduction p {
    font-size: 1.5rem;
    line-height: 1.5833333333;
  }
}

.aboutrose__introduction p:nth-of-type(1) {
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .aboutrose__introduction p:nth-of-type(1) {
    margin-bottom: 1.25rem;
    text-align: center;
  }
}

.aboutrose__introduction p:nth-of-type(2) {
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .aboutrose__introduction p:nth-of-type(2) {
    margin-bottom: 1.25rem;
    text-align: center;
  }
}

.aboutrose__introduction p:nth-of-type(3) {
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .aboutrose__introduction p:nth-of-type(3) {
    margin-bottom: 1.25rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .aboutrose__introduction p:nth-of-type(4) {
    text-align: center;
  }
}

.roseshop {
  margin-top: 4.6875rem;
  padding-top: 2.375rem;
  padding-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .roseshop {
    margin-top: 10.25rem;
    padding-top: 4.625rem;
    padding-bottom: 4.875rem;
  }
}

.roseshop__theme {
  text-align: center;
}

.cafemenu__theme {
  margin-top: 5.125rem;
  margin-left: 0.5625rem;
  font-family: "Cinzel", serif;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #a17856;
  text-transform: uppercase;
  letter-spacing: -0.125rem;
}
@media screen and (min-width: 768px) {
  .cafemenu__theme {
    margin-top: 9.875rem;
    margin-left: 0.125rem;
    letter-spacing: -0.125rem;
    font-size: 2.25rem;
    line-height: 1.1944444444;
  }
}

.cafemenu__theme span {
  margin-left: 0.625rem;
}

/*========= レイアウトのためのCSS ===============*/
.cafemenu {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cafemenu {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.lookrose {
  margin-top: 7.625rem;
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}
@media screen and (min-width: 768px) {
  .lookrose {
    margin-top: 9.6875rem;
    padding-left: initial;
    padding-right: initial;
  }
}

.lookrose__title-main {
  padding-left: -0.3125rem;
  letter-spacing: -0.5rem;
}

.lookrose__slider {
  margin-top: 1.5625rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .lookrose__slider {
    margin-top: 5.125rem;
    align-items: center;
  }
}

.lookrose__slider li img {
  width: 100%;
  /*スライダー内の画像を100%にしてレスポンシブ化*/
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .lookrose__slider li img {
    width: 60vw;
    /*スライダー内の画像を60vwにしてレスポンシブ化*/
    height: auto;
  }
}

.lookrose__slider .slick-slide {
  transform: scale(0);
  /*左右の画像のサイズを80%に*/
}
@media screen and (min-width: 768px) {
  .lookrose__slider .slick-slide {
    transform: scale(0.8);
    /*左右の画像のサイズを80%に*/
  }
}

.lookrose__slider .slick-slide.slick-center {
  transform: scale(1);
  /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
  /*透過なし*/
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  margin: 0.5rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    margin: 1.25rem 0 0 0;
  }
}

.slick-dots li {
  display: inline-block;
  margin: 0 0.125rem;
}
@media screen and (min-width: 768px) {
  .slick-dots li {
    margin: 0 0.25rem;
  }
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 0.5rem;
  /*ドットボタンのサイズ*/
  height: 0.5rem;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  border: 0.125rem solid #707070;
  /*ドットボタンの色*/
}
@media screen and (min-width: 768px) {
  .slick-dots button {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}

.slick-dots .slick-active button {
  background: #707070;
  /*ドットボタンの現在地表示の色*/
}

/*アコーディオン全体*/
.question {
  padding-top: 4.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .question {
    padding-top: 8.1875rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.question__accordion-area {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .question__accordion-area {
    margin-top: 5.3125rem;
  }
}

.question__accordion-area li {
  margin: 0.96875rem 0;
}
@media screen and (min-width: 768px) {
  .question__accordion-area li {
    margin: 5rem 0;
  }
}

.question__accordion-area-sec {
  border: 0.125rem solid #df8686;
}

.question__accordion-area-q {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-family: "YuMincho", serif;
  font-size: 0.75rem;
  color: #FFFFFF;
  line-height: 1.3333333333;
  font-weight: 500;
  padding-top: 0.3125rem;
  padding-left: 0.9375rem;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  background-color: #df8686;
}
@media screen and (min-width: 768px) {
  .question__accordion-area-q {
    font-size: 1.5rem;
    line-height: 1.3333333333;
    padding-top: 0.75rem;
    padding-left: 2rem;
    padding-bottom: 1.25rem;
  }
}

.question__accordion-area-q::before,
.question__accordion-area-q::after {
  content: "";
  width: 1.25rem;
  height: 0.1875rem;
  background: #FFFFFF;
  position: absolute;
  top: 45%;
  right: 4%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .question__accordion-area-q::before,
  .question__accordion-area-q::after {
    width: 2.9375rem;
    height: 0.3125rem;
    top: 47%;
    right: 3%;
  }
}

.question__accordion-area-q::after {
  transform: translateY(-50%) rotate(90deg);
  transition: 0.3s ease-in-out;
}

/*closeというクラスがついたら＋のままA欄を展開*/
.question__accordion-area-q.close::before {
  transform: rotate(360deg);
}

.question__accordion-area-q.close::after {
  transform: rotate(-270deg);
}

/*アコーディオンで現れるエリア*/
.question__accordion-area-a {
  /*はじめは非表示*/
  font-family: "YuMincho", serif;
  font-size: 0.75rem;
  color: #df8686;
  line-height: 1.3333333333;
  font-weight: 500;
  padding-top: 0.125rem;
  padding-left: 0.9375rem;
  padding-bottom: 0.35625rem;
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .question__accordion-area-a {
    font-size: 1.5rem;
    line-height: 1.3333333333;
    padding-top: 1.125rem;
    padding-left: 2.1875rem;
    padding-bottom: 1.25rem;
  }
}

.question__accordion-area-a-br {
  padding-left: 2.5rem;
}
@media screen and (min-width: 768px) {
  .question__accordion-area-a-br {
    padding-left: initial;
  }
}

.question__qa .Q,
.question__qa .A {
  position: relative;
}

.question__qa .Q::before {
  content: "Q";
  font-size: 1.5rem;
  font-family: "Cinzel Decorative", cursive;
  line-height: 1.2083333333;
  padding-right: 1.125rem;
}
@media screen and (min-width: 768px) {
  .question__qa .Q::before {
    font-size: 2.25rem;
    font-family: "Cinzel Decorative", cursive;
    line-height: 1.1944444444;
    padding-right: 1.875rem;
  }
}

.question__qa .A::before {
  content: "A";
  font-size: 1.5rem;
  font-family: "Cinzel Decorative", cursive;
  line-height: 1.2083333333;
  padding-right: 1.375rem;
}
@media screen and (min-width: 768px) {
  .question__qa .A::before {
    font-size: 2.25rem;
    font-family: "Cinzel Decorative", cursive;
    line-height: 1.1944444444;
    padding-right: 2.5rem;
  }
}

.information {
  padding-top: 4.25rem;
}
@media screen and (min-width: 768px) {
  .information {
    padding-top: 4.375rem;
  }
}

@media screen and (min-width: 768px) {
  .information__area {
    margin-top: 4.625rem;
    display: flex;
  }
}

.information__area-text {
  font-size: 0.75rem;
  font-family: "YuMincho", serif;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-top: 1.25rem;
  color: #534e52;
}
@media screen and (min-width: 768px) {
  .information__area-text {
    display: block;
    font-size: 1.5rem;
    line-height: 1.3333333333;
    margin-top: initial;
    width: 41.25rem;
  }
}

.information__area-text li {
  display: flex;
  border-bottom: 0.0625rem solid #707070;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .information__area-text li {
    padding-top: 0.40625rem;
    padding-bottom: 0.40625rem;
  }
}

.information__area-text li:nth-last-child(1) {
  border-bottom: none;
}

.information__area-br {
  padding-left: 0.875rem;
}
@media screen and (min-width: 768px) {
  .information__area-br {
    padding-left: 1.875rem;
  }
}

.information__area-theme {
  padding-right: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .information__area-theme {
    padding-right: 1.46875rem;
  }
}

.information__image {
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .information__image {
    width: 34.375rem;
    margin-top: 0.3125rem;
    margin-left: 4.875rem;
  }
}

@media screen and (min-width: 768px) {
  .information__map {
    margin-top: 5rem;
  }
}

.instagram {
  margin-top: 5rem;
  padding-top: 2.9375rem;
  padding-left: 3.875rem;
  padding-right: 3.875rem;
  padding-bottom: 2.4375rem;
  background-color: #F4F4F4;
}
@media screen and (min-width: 768px) {
  .instagram {
    margin-top: 9.375rem;
    padding-top: 4.75rem;
    padding-left: 13.75rem;
    padding-right: 13.75rem;
    padding-bottom: 5rem;
  }
}

.instagram__images {
  margin-top: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .instagram__images {
    margin-top: 5rem;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: #FFFFFF;
  }
}

.contact {
  padding-top: 5.125rem;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 10rem;
    margin-bottom: 11.25rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 4.375rem;
    background-color: #f6f1e8;
  }
}

.contact-wrapper {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact-wrapper {
    margin-top: 1.4375rem;
  }
}

.contact-guide {
  width: 22.5rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  padding-bottom: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-guide {
    width: initial;
    padding-right: initial;
    padding-left: initial;
    text-align: center;
  }
}

.contact-guide p {
  font-family: "YuMincho", serif;
  font-size: 0.875rem;
  color: #502323;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .contact-guide p {
    font-size: 1.125rem;
    line-height: 1.4444444444;
  }
}

@media screen and (min-width: 768px) {
  #pagetop {
    position: fixed;
    bottom: 34.0625rem;
    right: 5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  #pagetop i {
    padding-top: 6.25rem;
  }
}

@media screen and (min-width: 768px) {
  #pagetop a {
    display: block;
    z-index: 999;
    border-radius: 30px;
    width: 3.75rem;
    height: 3.75rem;
    background-color: #df8686;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  #pagetop a::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 0 0.9375rem 1.5rem 0.9375rem;
    border-color: transparent transparent #FFFFFF transparent;
    display: inline-block;
    top: 1.125rem;
    left: 0.9375rem;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 768px) {
  #pagetop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.headerbackground-change {
  background-color: #f6f1e8;
}
@media screen and (min-width: 768px) {
  .headerbackground-change {
    background-color: rgba(246, 241, 232, 0.95);
  }
}

.background-change {
  background-color: #f6f1e8;
}

.text-font {
  color: #534e52;
}

.text-pink {
  color: #df8686;
}

.text-sub {
  color: #a17856;
}