@use "../global" as *;
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.hamburger{
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  background:$main-color;
  cursor: pointer;
  width:rem(70);
  height:rem(70);
  margin-right:calc(50% - 50vw);
}

/*ボタン内側*/
.hamburger span{
  display: inline-block;
  position: absolute;
  top:50%;
  left:rem(22);
  height:rem(3);
  background:$white;
  width:rem(27);
  transition: .3s ease-in-out;
}
.hamburger span:nth-of-type(1){
  top:rem(33); 
}
.hamburger span:nth-of-type(1)::before{
  content:"menu";
  /*1つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:rem(-25);
  left:rem(-8);
  color:$white;
  font-size:rem(14);
}
.hamburger span:nth-of-type(2) {
  top:rem(44);
}
.hamburger span:nth-of-type(3) {
  top:rem(55);
}



/*openクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.hamburger.open{
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  background:$white;
  cursor: pointer;
  width:rem(70);
  height:rem(70);
  margin-right:calc(50% - 50vw);
}
.hamburger.open span{
  background:$main-color;
}
.hamburger.open span:nth-of-type(1){
  top:rem(41);
  left:rem(16);
  transform: translateY(6px) rotate(-45deg);
  width: 55%;
}
.hamburger.open span:nth-of-type(1)::before{
  content:"close";
  /*1つ目の要素のafterにClose表示を指定*/
  transform: translateY(0) rotate(45deg);
  top:rem(-30);
  left:rem(20);
  color:$main-color;
  font-size:rem(14);
}
.hamburger.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.open span:nth-of-type(3){
    top:rem(54);
    left:rem(16);
    transform: translateY(-6px) rotate(45deg);
    width: 55%;
}

